# Docker setup
GENERIC_TIMEZONE=

# n8n environment variables
N8N_CONTAINER_NAME=
DOMAIN_NAME=
N8N_SUBDOMAIN=
WEBHOOK_SUBDOMAIN=

# Postgres n8n
N8N_DB_CONTAINER_NAME=
POSTGRES_N8N_DB_NAME=
POSTGRES_N8N_DB_USER=
POSTGRES_N8N_DB_PASSWORD=

# POSTGRES CHAT
CHAT_DB_CONTAINER_NAME=
POSTGRES_CHAT_DB_NAME=
POSTGRES_CHAT_DB_USER=
POSTGRES_CHAT_DB_PASSWORD=

# Waha
WAHA_API_KEY=
WAHA_SUBDOMAIN=
WAHA_CONTAINER_NAME=
WAHA_DASHBOARD_USER=
WAHA_DASHBOARD_PASSWORD=

# Waha2
WAHA2_SUBDOMAIN=
WAHA2_CONTAINER_NAME=
WAHA2_DASHBOARD_USER=
WAHA2_DASHBOARD_PASSWORD=

# Cloudflared tunnel environment variables
CLOUDFLARE_CONTAINER_NAME=
TUNNEL_TOKEN=

# QDrant
QDRANT_CONTAINER_NAME=
QDRANT_API_KEY=

# Init Qdrant
INIT_QDRANT_CONTAINER_NAME=